<body>
    <div class="login-form" >
        <ul>
            <a href="home" style="font-size: 30px;color: rgb(79, 200, 200);margin-left: 500px;" class="home">HOME</a>
            <a style="margin-left: 10px; font-size: 30px;color: rgb(52, 144, 144);">/CHECKOUT</a>
        </ul>
        <div class="row">
            <div class="col-xl"style="background-color: white;margin:50px;margin-left:90px;width:1300px;">
            <form  [formGroup]="loginForm" (ngSubmit)="login()">
                <br>
            <div style="padding: 20px;background-color: rgb(207, 207, 207);">
                <a style="padding: 10px;">Returning Customer?</a>
               
              
              <a href="login">  Click here to login</a>
            </div>
         
            <br><br>
            <!--content-->
            <div class="row">
                <div class="col-sm">
                    <h3 style="color: rgb(44, 209, 209);">Billing Details</h3>
                    <div class="row">
                        <div class="col-sm">
                            <label style="padding-top:10px;color:grey;font-size: large;"><b>First name</b></label>
                            <abbr style="color: red;"class="required" title="required">*</abbr><br>
                            <!--<input type="text" style="width: 250px;padding: 6px;margin-top:10px;"required>-->
                            <input type="text"  name="firstname" formControlName="firstname"  style="color: rgb(0, 0, 0);margin-left: 0px;border-radius: 0px;width:550px;border-color:rgb(147, 236, 211);width: 250px;padding: 6px;margin-top:10px;"><br>
                            <label style="margin-left:20px;color: red ;" class="error ng-binding" *ngIf="submitted && f['firstname'].errors?.['required']">First name is Required </label><br>
                        </div>

                        <div class="col-sm">
                            <label style="padding-top:10px;color:grey;font-size: large;"><b>Last name</b></label>
                            <abbr style="color: red;"class="required" title="required">*</abbr><br>
                            <!--<input type="text" style="width: 250px;padding: 6px;margin-top:10px;"required>-->
                            <input type="text"  name="lastname" formControlName="lastname"  style="color: rgb(0, 0, 0);margin-left: 0px;border-radius: 0px;width:550px;border-color:rgb(147, 236, 211);width: 250px;padding: 6px;margin-top:10px;"><br>
                            <label style="margin-left:20px;color: red ;" class="error ng-binding" *ngIf="submitted && f['lastname'].errors?.['required']">Last name is Required</label><br>
                        </div>
                    </div>
                    <label style="color:grey;font-size: large;padding-top:10px;"><b>Company Name</b></label>
                    <input type="text" style="width: 560px;margin-top:10px;padding: 6px;">
                    <div class="row">
                        <div class="col-sm">
                            <label style="padding-top:10px;color:grey;font-size: large;"><b>Email Address</b></label>
                            <abbr style="color: red;"class="required" title="required">*</abbr><br>
                            <!--<input type="email" style="width: 250px;padding: 6px;margin-top:10px;"required>-->
                            <input type="email"  name="useremail" formControlName="useremail"  style="color: rgb(0, 0, 0);margin-left: 0px;border-radius: 0px;width:550px;border-color:rgb(147, 236, 211);width: 250px;padding: 6px;margin-top:10px;"><br>
                            <label style="margin-left:20px;color: red ;" class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['required']">Email Address is Required </label><br>
                        </div>
                        <div class="col-sm">
                            <label style="padding-top:10px;color:grey;font-size: large;"><b>Phone</b></label>
                            <abbr style="color: red;"class="required" title="required">*</abbr><br>
                            <!--<input type="number" style="width: 250px;padding: 6px;margin-top:10px;"required>-->
                            <input type="number"  name="phone" formControlName="phone" maxlength="10" style="color: rgb(0, 0, 0);margin-left: 0px;border-radius: 0px;width:550px;border-color:rgb(147, 236, 211);width: 250px;padding: 6px;margin-top:10px;"><br>
                            <label style="margin-left:20px;color: red ;" class="error ng-binding" *ngIf="submitted && f['phone'].errors?.['required']">Phone number is Required </label><br>
                        </div>
                    </div>
                    <label style="padding-top:10px;color:grey;font-size: large;"><b>Country</b></label>
                    <abbr style="color: red;"class="required" title="required">*</abbr><br>
                    <label style="padding-top:10px;color:grey;font-size: large;"><b>India</b></label><br>
                    <label style="padding-top:10px;color:grey;font-size: large;"><b>Address</b></label>
                    <abbr style="color: red;"class="required" title="required">*</abbr><br>
                    <!--<input type="address" style="width: 560px;padding: 6px;margin-top:10px;"required placeholder="Street address">-->
                    <input type="text"  name="address" formControlName="address" maxlength="10" style="color: rgb(0, 0, 0);margin-left: 0px;border-radius: 0px;width:550px;border-color:rgb(147, 236, 211);width: 250px;padding: 6px;width: 560px;padding: 6px;margin-top:10px;"><br>
                    <label style="margin-left:20px;color: red ;" class="error ng-binding" *ngIf="submitted && f['address'].errors?.['required']">Address is Required</label><br>
                    <input type="address" style="width: 560px;padding: 6px;margin-top:10px;"required placeholder="Apartment, suite, unit etc. (optional)">
                    <label style="padding-top:10px;color:grey;font-size: large;"><b>Town/City</b></label>
                    <abbr style="color: red;"class="required" title="required">*</abbr><br>
                    <!--<input type="text" style="width: 560px;padding: 6px;margin-top:10px;"required placeholder="Town/city">-->
                    <input type="text"  name="town" formControlName="town" maxlength="10" style="color: rgb(0, 0, 0);margin-left: 0px;border-radius: 0px;width:550px;border-color:rgb(147, 236, 211);width: 250px;padding: 6px;width: 560px;padding: 6px;margin-top:10px;"><br>
                    <label style="margin-left:20px;color: red ;" class="error ng-binding" *ngIf="submitted && f['town'].errors?.['required']">Town/city is Required </label><br>
                    <div class="row">
                        <div class="col-sm">
                            <label style="padding-top:10px;color:grey;font-size: large;"><b>State/Country</b></label>
                            <abbr style="color: red;"class="required" title="required">*</abbr><br>
                            <select style="width: 250px;padding: 6px;margin-top:10px;" id="country-state" name="country-state">
                                <option value="KA">Karnataka</option>
                                <option value="OT">Others</option>
                            </select>
                            <!--<label style="margin-left:20px;color: red ;" class="error ng-binding" *ngIf="submitted && f['password'].errors?.['required']">State/Country is Required </label><br>-->
                        </div>
                        <div class="col-sm">
                            <label style="padding-top:10px;color:grey;font-size: large;"><b>Postcode/Zip</b></label>
                            <abbr style="color: red;"class="required" title="required">*</abbr><br>
                            <!--<input type="text" style="width: 250px;padding: 6px;margin-top:10px;"required placeholder="Postcode/zip">-->
                            <input type="number"  name="postcode" formControlName="postcode" maxlength="10" style="color: rgb(0, 0, 0);margin-left: 0px;border-radius: 0px;width:250px;border-color:rgb(147, 236, 211);padding: 6px;margin-top:10px;"><br>
                            <label style="margin-left:20px;color: red ;" class="error ng-binding" *ngIf="submitted && f['postcode'].errors?.['required']">Postcode is Required</label><br>
                        </div>
                    </div>
                    <input type="checkbox" value="msg"><label style="padding-top:10px;color:grey;font-size: large;padding-left: 10px;"> Get our news by sms</label><br>
                    <label style="padding-top:10px;color:grey;font-size: large;padding-left: 10px;"><a href="register"> Create an account?</a></label>
                    <h3 style="color: rgb(44, 209, 209);padding-top:10px;">Your Orders</h3>
                    <!--orders-->
                    
                    

    
                </div>
                <div class="col-sm">
                    <h3 style="color: rgb(44, 209, 209);">Additional Information</h3>
                    <label style="padding-top:10px;color:grey;font-size: large;"><b>Pickup Date</b></label>
                    <abbr style="color: red;"class="required" title="required">*</abbr><br>
                    <input style="width: 540px;height:40px;margin-top:10px;" type="date" required placeholder="select a pickup date">
                    <h5 style="padding-top:10px;color:grey;">Please choose a date for your Pickup.</h5>
                    <h3 style="color: rgb(44, 209, 209);padding-top: 10px;">Additional Information</h3>
                    <h5 style="padding-top:10px;color:grey;">Other notes</h5>
                    <textarea style="width: 540px;height:150px;" type="address" placeholder="Notes about your order,e.g. special notes for delivery."></textarea>
                </div>
            </div>

            <div style="background-color: rgb(214, 214, 214);margin-bottom: 10px;">
                <ul style="padding-top: 10px;">
                    <input type="checkbox"   name="pay" formControlName="pay" value="true" style="margin-right:10px;" checked>
                    <label>Cash on Delivery</label>
                    <label style="margin-left:20px;color: red ;" class="error ng-binding" *ngIf="submitted && f['pay'].errors?.['required']">Payment must be on Delivery </label>
                </ul>
                <ul>
                    <label style="padding-top:10px;color:grey;font-size: large;">
                    <a style="margin-left: 10px; color: rgb(52, 144, 144);">I've read the </a>
                    <a href='terms-of-services' style=" color: rgb(79, 200, 200);" class="home">/terms and conditions</a>
                    <input type="checkbox"   name="terms" formControlName="terms" value="true" style="margin-left:10px;">
                    
                    <button type="submit" href="" class="btn btn-danger m-3" style="border-radius:2px;background-color:rgb(232, 32, 32);color: white;margin-left: 20px;padding: 10px;">Place Order</button>
                <br>
                <label style="margin-left:20px;color: red ;" class="error ng-binding" *ngIf="submitted && f['terms'].errors?.['required']">You must accept our terms and conditions </label>
                
                </label>
                </ul> 
                 
            </div> 
            <label style="margin-left:20px;color: rgb(182, 171, 20);border-color: rgb(176, 176, 16);"  class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['required']">Validation errors occurred. Please confirm the fields and submit it again.</label><br>   
        </form> 

                

            </div>
        </div>
    </div>
    <div style="background-color: white;"><br><br><br><br>
        <div style="background-color: rgb(28, 174, 148);margin: 10px;" class="row">
            <br><br><br>
            <div class="col-sm">
                <p style="color:white;margin-left:70px;">Copyright 2015 - 2022 © fabstitch.in</p>
            </div>
            <div class="col-sm">
                <ul>
                    <a href="#" style=" color: rgb(255, 255, 255);" class="home">FAQ</a>
                    |
                    <a href="terms-of-services" style=" color: rgb(255, 255, 255);">Terms of Services </a>
                    |
                    <a href="privacy-policy" style="color: rgb(255, 255, 255);">Privacy Policy </a>
                    | 
                    <a style="color: rgb(255, 255, 255);">Call us @ +91-9902953403</a>
                
                </ul> 

            </div>
        </div>
    </div>
</body>


<!--<body>
    <ul>
        <a href="home" style="margin-left: 450px; font-size: 30px;color: rgb(79, 200, 200);" class="home"><b>HOME</b></a>
        <a style="margin-left: 10px; font-size: 30px;color: rgb(52, 144, 144);"><b>/CHECKOUT</b></a>
    </ul>  
    <div style="background-color: white;margin:50px;"><br>
      <div class="container">
        <ul style="background-color:rgb(234, 233, 233);padding: 10px;">
            <a >Returning Customer?</a>
            <button class="accordion">
                Click here to login
            </button>
            <div class="panel">
                <p style="font-size: 21px;color:grey;">If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>
                <div class="row">
                    <div class="col-sm">
                        <label style="padding-top:10px;color:grey;font-size: 22px;"><b>Username/email</b></label>
                        <abbr style="color: red;"class="required" title="required">*</abbr><br>
                        <input type="email" style="width: 560px;padding: 6px;margin-top:10px;border-radius: 3px;"required>
                    </div>
                    <div class="col-sm">
                        <label style="padding-top:10px;color:grey;font-size: 22px;"><b>Password</b></label>
                        <abbr style="color: red;"class="required" title="required">*</abbr><br>
                        <input type="password" style="width: 590px;padding: 6px;margin-top:10px;border-radius: 3px;"required>
                    </div>
                </div>
                <ul>
                    <button class="login"type="submit" name="Login" routerlink='#' style="width: 70px;height:40px;margin-top: 20px;margin-left: 20px;border-radius: 2px;color: white;background-color: black;">Login</button>
                    <input type="checkbox" style="margin-left:20px ;"><label style="margin-left: 10px;color:grey;font-size: 22px;"><b>Remember me</b></label>
                </ul>
                <a href="#" style="color: rgb(47, 168, 168);padding-top: 20px;margin-bottom: 20px;">Lost your password?</a>
                
            </div>
           
        </ul>
        <ul style="background-color:rgb(234, 233, 233);padding: 10px; ">
            <a >Have a coupon?</a>
            <button class="accordion">
                Click here to enter your code
            </button>
            <div class="panel">
                <div class="row">
                    <div class="col-sm">
                        <input type="text" style="width: 500px;margin-top:20px;padding: 10px;">
                    </div>
                    <div class="col-sm">
                        <input type="button" value="Apply Coupon"style="margin-top:20px;width:200px;height:40px;border-radius: 2px;background-color:black;color:white;">
                    </div>
                </div>
            </div>
            
        </ul><br>

        <div class="row">
            <div class="col-sm">
                <h3 style="color: rgb(44, 209, 209);">Billing Details</h3>
                <div class="row">
                    <div class="col-sm">
                        <label style="padding-top:10px;color:grey;font-size: large;"><b>First name</b></label>
                        <abbr style="color: red;"class="required" title="required">*</abbr><br>
                        <input type="text" style="width: 250px;padding: 6px;margin-top:10px;"required>
                    </div>
                    <div class="col-sm">
                        <label style="padding-top:10px;color:grey;font-size: large;"><b>Last name</b></label>
                        <abbr style="color: red;"class="required" title="required">*</abbr><br>
                        <input type="text" style="width: 250px;padding: 6px;margin-top:10px;"required>
                    </div>
                </div>
                <label style="color:grey;font-size: large;padding-top:10px;"><b>Company Name</b></label>
                <input type="text" style="width: 530px;margin-top:10px;padding: 6px;">
                <div class="row">
                    <div class="col-sm">
                        <label style="padding-top:10px;color:grey;font-size: large;"><b>Email Address</b></label>
                        <abbr style="color: red;"class="required" title="required">*</abbr><br>
                        <input type="email" style="width: 250px;padding: 6px;margin-top:10px;"required>
                    </div>
                    <div class="col-sm">
                        <label style="padding-top:10px;color:grey;font-size: large;"><b>Phone</b></label>
                        <abbr style="color: red;"class="required" title="required">*</abbr><br>
                        <input type="number" style="width: 250px;padding: 6px;margin-top:10px;"required>
                    </div>
                </div>
                <label style="padding-top:10px;color:grey;font-size: large;"><b>Country</b></label>
                <abbr style="color: red;"class="required" title="required">*</abbr><br>
                <label style="padding-top:10px;color:grey;font-size: large;"><b>India</b></label><br>
                <label style="padding-top:10px;color:grey;font-size: large;"><b>Address</b></label>
                <abbr style="color: red;"class="required" title="required">*</abbr><br>
                <input type="address" style="width: 530px;padding: 6px;margin-top:10px;"required placeholder="Street address">
                <input type="address" style="width: 530px;padding: 6px;margin-top:10px;"required placeholder="Apartment, suite, unit etc. (optional)">
                <label style="padding-top:10px;color:grey;font-size: large;"><b>Town/City</b></label>
                <abbr style="color: red;"class="required" title="required">*</abbr><br>
                <input type="text" style="width: 530px;padding: 6px;margin-top:10px;"required placeholder="Town/city">
                <div class="row">
                    <div class="col-sm">
                        <label style="padding-top:10px;color:grey;font-size: large;"><b>State/Country</b></label>
                        <abbr style="color: red;"class="required" title="required">*</abbr><br>
                        <select style="width: 250px;padding: 6px;margin-top:10px;" id="country-state" name="country-state">
                            <option value="KA">Karnataka</option>
                            <option value="OT">Others</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <label style="padding-top:10px;color:grey;font-size: large;"><b>Postcode/Zip</b></label>
                        <abbr style="color: red;"class="required" title="required">*</abbr><br>
                        <input type="text" style="width: 250px;padding: 6px;margin-top:10px;"required placeholder="Postcode/zip">
                    </div>
                </div>
                <input type="checkbox" value="msg"><label style="padding-top:10px;color:grey;font-size: large;padding-left: 10px;"> Get our news by sms</label><br>
                <input type="checkbox" value="msg"><label style="padding-top:10px;color:grey;font-size: large;padding-left: 10px;"> Create an account?</label>
                <h3 style="color: rgb(44, 209, 209);padding-top:10px;">Your Orders</h3>


            </div>
            <div class="col-sm">
                <h3 style="color: rgb(44, 209, 209);">Additional Information</h3>
                <label style="padding-top:10px;color:grey;font-size: large;"><b>Pickup Date</b></label>
                <abbr style="color: red;"class="required" title="required">*</abbr><br>
                <input style="width: 540px;height:40px;margin-top:10px;" type="date" required placeholder="select a pickup date">
                <h5 style="padding-top:10px;color:grey;">Please choose a date for your Pickup.</h5>
                <h3 style="color: rgb(44, 209, 209);padding-top: 10px;">Additional Information</h3>
                <h5 style="padding-top:10px;color:grey;">Other notes</h5>
                <textarea style="width: 540px;height:150px;" type="address" placeholder="Notes about your order,e.g. special notes for delivery."></textarea>
            </div>
        </div>
        

        
    </div>
    <ul>
        <input type="checkbox" value="msg"><label style="padding-top:10px;color:grey;font-size: large;padding-left: 10px;">
        <a style="margin-left: 10px; color: rgb(52, 144, 144);">I've read the </a>
        <a href='terms-of-services' style=" color: rgb(79, 200, 200);" class="home">/terms and conditions</a>
    </label>
    </ul> 
    <a class="home" class="checkout" class="btn btn-danger m-3" href='#' target="_blank"style="margin-bottom:20px;border-radius:3px;padding:3px;width:130px;background-color:rgb(215, 44, 44);color:white;border-color:rgb(215, 44, 44);font-size: 17px;" >Place Order</a>
    </div>
    <div style="background-color: white;"><br><br><br><br>
        <div style="background-color: rgb(28, 174, 148);" class="row">
            <br><br><br>
            <div class="col-sm">
                <p style="color:white;margin-left:70px;">Copyright 2015 - 2022 © fabstitch.in</p>
            </div>
            <div class="col-sm">
                <ul>
                    <a href="#" style=" color: rgb(255, 255, 255);" class="home">FAQ</a>
                    |
                    <a href="terms-of-services" style=" color: rgb(255, 255, 255);">Terms of Services </a>
                    |
                    <a href="privacy-policy" style="color: rgb(255, 255, 255);">Privacy Policy </a>
                    | 
                    <a style="color: rgb(255, 255, 255);">Call us @ +91-9902953403</a>
                
                </ul> 

            </div>
        </div>
    </div>
</body>  -->