.card{
    /* margin: 50px; */
    height: 1600px;
}


.heading{
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1.5em;
    line-height: 32px;
    font-weight: 200;
    color: #5b7890;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.price{
    color: #77a464;
    font-size: 1.25em;
    margin-top: 20px;
    margin-bottom: 15px;
}
.tag{
    font-weight: bold;
    line-height: 2;
    color: #1abc9c;
    text-align: center;
    white-space: nowrap;
}
.description{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #5a6c7b;
    margin-bottom: 35px;
    margin-top: 20px;
}
.select{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.contain{
    background-color:rgb(244, 241, 241);
    padding-bottom: 100px;
}
a{
    color: #1abc9c;
    text-decoration: none;
    
}
.navigation{
    font-size: 30px;
    color: gray;
    text-align: center;
    margin: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
.desc{
    font-size: 30px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pdesc{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #A2AEB7;
    margin-bottom: 25px;
    text-align: justify;
    
}
.zoom {
    height: 470px;
  
    width: 470px;
    overflow: hidden;
    margin: 0 auto;
}

.zoom img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.zoom:hover img {
    transform: scale(1.5);
}