*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

/* Carousel Part Styling */
img {
    height: 600px;
  }
  .blue
{
  color:rgb(7, 107, 75);
}
.shadow
{
  text-shadow: 3px 2px 2px rgb(254, 255, 255);
}
.grp{
    background-color: aqua;

}
h1{
    
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 5em;
    color: rgb(121, 209, 155);
    position: absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
  
}

/* Banner section styling*/
#banner{
    background-image: linear-gradient(to right,#4ad4af,#4ad4af);
    color:white;
    padding-top:2% ;
}
.promo-title{
    font-size: 20px;
    font-weight: bold;
  
    margin-left: 450px;
    margin-top: 2px;
    outline-offset: 15px;
    text-align: center;
    border-radius: 15px;
    width: 500px;
    height:60px;
    text-align:center;
    background-color: #f0ad4e;
    border-color: #eea236;
    color:white;
    border:1px solid transparent; 
}
.works{
    font-size: 40px;
    font-weight: 600;
    padding-top: 15px; 
    padding-bottom: 15px;
    text-align: center;
    color:#1abc9c;
    background-color: rgb(222, 222, 222)
}
.news{
    font-size: 40px;
    font-weight: 600;
    padding-top: 15px; 
    padding-bottom: 15px;
    text-align: center;
    color:#1abc9c;
    background-color: rgb(222, 222, 222)
}
.promo-title2{
    font-size: 40px;
    font-weight: 600;
    margin-left: 455px;
    margin-top: 2px;
    outline-offset: 15px;
    text-align: center;
    border-radius: 15px;
    width: 500px;
    height:60px;
    color:white;
    border:1px solid transparent; 
}
#service
{
    padding: 80px 0;
}
.service-img
{
    width:100px;
    height: 100px;
    margin-top: 20px;
}
.des
{
    font-size: medium;
}
.services
{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    color: #1abc9c;
}
#feedback{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.feedback
{
     
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/*--------SOCIAL MEDIA SECTION--------*/

#social-media{
    background: #e6e6e6;
    padding-left: 150px ;
}

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    margin-left: 50x;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    margin-bottom: 30px;
}

.social-icons a:hover img{
    transform: translateY(-10px);
}
/*Zoom In*/
#zoomin {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  
}
#zoomin:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
@import url("https://fonts.googleapis.com/css?family=Poppins");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #141E30;
  background: -webkit-linear-gradient(to top, #243B55, #141E30);
  background: linear-gradient(to top, #243B55, #141E30);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.card {
  border-radius: 16px;
  width: 1000px;
  height: 550px;
  background: url(https://i2.wp.com/missbonic.com/wp-content/uploads/2020/05/Blouse-designs.jpeg?fit=1024%2C849&ssl=1);
  position: relative;
  overflow: hidden;
  margin-left: 200px;
  box-shadow: 0 5px 50px rgba(238, 221, 221, 0.85);
}
.card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(253, 227, 227, 0.92);
}
.card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.card .img span {
  width: 100%;
  height: 100%;
  background: url(https://i2.wp.com/missbonic.com/wp-content/uploads/2020/05/Blouse-designs.jpeg?fit=1024%2C849&ssl=1);
  transition: 0.5s;
}
.card .img span:nth-child(1) {
  background-position: 0;
  transition-delay: 0;
}
.card .img span:nth-child(2) {
  background-position: 33.33333%;
  transition-delay: 0.1s;
}
.card .img span:nth-child(3) {
  background-position: 66.66666%;
  transition-delay: 0.2s;
}
.card .img span:nth-child(4) {
  background-position: 100%;
  transition-delay: 0.3s;
}

.card:hover .img > span {
  transform: translateY(-100%);
}
.card:hover .content {
  transform: translateY(0%);
  transition: 1s;
  transition-delay: 0.1s;
}

.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.card {
  border-radius: 16px;
  width: 1000px;
  height: 550px;
  background: url(https://i2.wp.com/missbonic.com/wp-content/uploads/2020/05/Blouse-designs.jpeg?fit=1024%2C849&ssl=1);
  position: relative;
  overflow: hidden;
  margin-left: 200px;
  box-shadow: 0 5px 50px rgba(238, 221, 221, 0.85);
}
.card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(253, 227, 227, 0.92);
}
.card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.card .img span {
  width: 100%;
  height: 100%;
  background: url(https://i2.wp.com/missbonic.com/wp-content/uploads/2020/05/Blouse-designs.jpeg?fit=1024%2C849&ssl=1);
  transition: 0.5s;
}
.card .img span:nth-child(1) {
  background-position: 0;
  transition-delay: 0;
}
.card .img span:nth-child(2) {
  background-position: 33.33333%;
  transition-delay: 0.1s;
}
.card .img span:nth-child(3) {
  background-position: 66.66666%;
  transition-delay: 0.2s;
}
.card .img span:nth-child(4) {
  background-position: 100%;
  transition-delay: 0.3s;
}

.card:hover .img > span {
  transform: translateY(-100%);
}
.card:hover .content {
  transform: translateY(0%);
  transition: 1s;
  transition-delay: 0.1s;
}

.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
