<!-------------------Carousel Part---------------->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="height: 550px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000" >
        <img src="https://cdn0.weddingwire.in/article/4617/original/1280/jpg/97164-biba-india.jpeg" class="d-block w-100" alt="CSS" id="zoomin" style="height: 550px;">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">KURTI DESIGN</h2>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="card">
          <div class="img"> <span></span><span></span><span></span><span></span></div>
          <div class="content">
         
            <h2 [ngClass]="prod_array">BLOUSE DESIGN</h2>
            
          </div>
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="https://images.shaadisaga.com/shaadisaga_production/photos/pictures/003/143/495/original/page.jpg?1641228359" class="d-block w-100" alt="JQ"  style="height: 550px;">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">LEHENGA DESIGN</h2>
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/A08f6ztoscw/maxresdefault.jpg" class="d-block w-100" alt="JQ"  style="height: 550px;">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">KIDS DRESS DESIGN</h2>
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/FWcGXTqxY_A/maxresdefault.jpg" class="d-block w-100" alt="JQ"  style="height: 550px;">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">KIDS LEHENGA DESIGN</h2>
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/ZKLfasRzRTs/maxresdefault.jpg" class="d-block w-100" alt="JQ"  style="height: 550px;">
        <div class="carousel-caption d-none d-md-block">
          <h2 [ngClass]="prod_array">KIDS KURTA PAJAMA DESIGN</h2>
          
        </div>
      </div>
    
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!----------------------------End Of Caurosel Part---------------------->

<!--Start of new section -->
  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-mad-6">
          <button  class="promo-title" style="padding: 6px 12px;" routerLink="bookstitch">Book your stitch</button>
          <p style="padding-bottom:4%;padding-top:1%;padding-left:230px;text-align:center;font-size:26px;font-family:open sans;line-height:34px;">ONLINE STITCHING / TAILORING SERVICES AT YOUR DOORSTEP FOR WOMEN AND KIDS IN BANGALORE </p>
        
        </div>
      </div>
    </div>
  </section>
  <div class="works"><p>HOW IT WORKS</p></div>
  <section>
    <div class="row text-center" style="background-color:#fff;">
      <div class="col-md-3 services">
        <img src="https://cdn-icons-png.flaticon.com/512/2534/2534679.png" class="service-img">
     
        <h4>BOOK A STITCH</h4>
        <p class="des">Book a Stitch at Your Home or Office. Select your best preferred pickup date and time.</p>
      </div>
      <div class="col-md-3 services">
        <img src="https://cdn-icons-png.flaticon.com/512/2738/2738624.png" class="service-img">
       
        <h4>SIZE ME</h4>
        <p class="des">Experienced FabStitch representative at every appointment, to size and help you with latest trends and designs at your doorstep.</p>
      </div>
      <div class="col-md-3 services">
        <img src="https://cdn-icons-png.flaticon.com/512/1291/1291962.png" class="service-img">

        <h4>STITCH IN PROGRESS</h4>
        <p class="des">Our experts ensure that your clothes are getting stitched as per your fitting and size.</p>
      </div>
      <div class="col-md-3 services">
        <img src="https://cdn-icons-png.flaticon.com/512/7875/7875817.png" class="service-img">
        
        <h4>CASH ON DELIVERY</h4>
        <p class="des">Great fit guaranteed,free pickup and delivery. Pay by cash after you receive your newly stitched cloth on 8th day.</p>
      </div>
    </div>
  </section>


  <section>
    <app-home-product></app-home-product>
  </section>


  
  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-mad-6">
          <div  class=promo-title2 >WHY CHOOSE US</div>
          <p style=" margin-left: 250px;font-size: 18px;line-height: 30px;font-weight: 400;color: #010509; margin-bottom: 25px;">Fabstitch.in is young and vibrant company that aims at providing hassle free and enjoyable tailoring experience with all new designs and patterns with a team of talented designers. We provides amazing tailoring experience with one stop solution for all kind of stitching works. We offering free measurement, pick-up and delivery service with quality and on time delivery.</p>
        </div>
      </div>
    </div>
  </section>
<br>

  <section class="news">
    <p>IN THE NEWS</p>
    <div class="row text-center" style="padding-left: 10px;">
      <div class="col-md-3 services">
        <img src="http://www.fabstitch.in/wp-content/uploads/2015/10/fs_57665-200x67.jpg"  style="height:100px;width:250px;" class="service-img"> 
      </div>
      <div class="col-md-3 services">
        <img src="http://www.fabstitch.in/wp-content/uploads/2015/10/tp-200x68.png" style="height: 100px;width:250px;" class="service-img">
      </div>
      <div class="col-md-3 services">
        <img src="http://www.fabstitch.in/wp-content/uploads/2015/09/yo-logo.png" style="height: 100px;width:250px ;" class="service-img">
      </div>
      <div class="col-md-3 services">
        <img src="http://www.fabstitch.in/wp-content/uploads/2015/10/your_story-200x93.png" style="height:100px;width:250px ;" class="service-img"> 
      </div>
    </div>
  </section>


  <section>
    <app-slide></app-slide>
  </section>


<!--Social Media-->
<section id="social-media">
<div class="container text-center">
  <p>FIND US ON SOCIAL MEDIA</p>
  <div class="social-icons">
      <a href="https://www.facebook.com/fabstitch.in/"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png " ></a>
      <a href="https://www.instagram.com/fab_stitch/?hl=en"><img src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png" ></a>
      <a href="https://twitter.com/fabstitch"><img src="https://cdn.pixabay.com/photo/2018/06/22/19/03/logo-3491390_1280.png"  height="50px" width="100px"></a>
      <a href="https://in.linkedin.com/in/shikha-sinha-20355010a"><img src="https://cdn-icons-png.flaticon.com/512/145/145807.png" ></a>
     
      <!-- <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" ></a> -->
      
      <!-- <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/3670/3670166.png" ></a> -->

  </div>
</div>
</section>

<app-scroll-to-top></app-scroll-to-top>
<app-footer></app-footer>

